.form-border-left{
	padding-left: 60px;
	border-left: 1px solid $default-grey
}

.amaran span{
  font-size: 12px;
  &.light{
    display: none !important;
  }
}

.record-counter{
  color: #aaa;
  margin: 0;
  padding: 6px 0;
}

table.footable > thead > tr.footable-filtering > th{
  padding-right: 0;
}

/* RADIO */

.radio-group input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.radio-group label {
  color: $text-color;
  display: inline-block;
  cursor: pointer;
  background: #fff;
  font-weight: bold;
  padding: 5px 20px;
  margin: 0;
  float: left;
  @include transition();
}

.radio-group input[type=radio]:checked + label{
  color: #fff;
  background: $brand-primary;
}

.radio-group label + input[type=radio] + label {
  border-left: solid 2px $default-grey;
}
.radio-group {
  border: solid 2px $default-grey;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
}

.food-group{
	display: none;
}
.drink-group{
	display: none;
}
.radio-group.active{
	display: inline-block;
} 

.badge{
  border-radius: 3px;
}

/* CHOSEN */

.chosen-container-multi .chosen-choices li.search-choice{
	padding: 9px 24px !important;
    color: #fff !important;
    background: #AA0000 !important;
    border: 1px solid #910000 !important;
    box-shadow: none !important;
}
.chosen-choices{
	display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.6;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccd0d2;
    border-radius: 4px;
    box-shadow: none;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    overflow: visible;

}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top: 9px !important;
    right: 6px !important;
}
.chosen-single{
    display: block !important;
    width: 100% !important;
    height: 36px !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.6 !important;
    color: #555555 !important;
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid #ccd0d2 !important;
    border-radius: 4px !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    background-position: 0 8px;
}
.chosen-container-active.chosen-with-drop .chosen-single div b{
    background-position: -18px 8px;
}