.fw{
	float: left;
	width: 100%;
}

.m-t{
	margin-top: 24px;
}
.m-t-h{
	margin-top: 12px;
}
.m-t-q{
	margin-top: 6px;
}

.m-b{
	margin-bottom: 24px;
}
.m-b-h{
	margin-bottom: 12px;
}
.m-b-q{
	margin-bottom: 6px;
}

.no-p-r{
	padding-right: 0 !important;
}
.no-p-l{
	padding-left: 0 !important;
}

.m-r{
	margin-right: 24px;
}
.m-r-h{
	margin-right: 12px;
}
.m-r-q{
	margin-right: 6px;
}

.m-l{
	margin-left: 24px;
}
.m-l-h{
	margin-left: 12px;
}
.m-l-q{
	margin-left: 6px;
}