#menu-wrapper{
	position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background: blue;
    width: 90px;
    background: $brand-primary;
    ul{
    	padding: 0;
    	margin: 0;
    	li{
    		width: 90px;
            float: left;
    		border-bottom: 1px solid #aaa;
    		a{
    			color: #aaa;
    			width: 100%;
			    float: left;
                text-align: center;
                padding: 12px 0;
                svg{
                    width: 30px;
                    height: 30px;
                    fill: #fff;
                    text-align: center;
                    clear: both;
                }
                span{
                    float: left;
                    width: 100%;
                    font-size: 12px;
                    color: #fff;
                }
    		}
    	}
        .logo{
            height: 120px;
            a{
                padding: 0;
            }
            img{
                float: left;
                width: 100%;
                padding: 0 12px;
            }
        }
    }
}